#outercontainer {
	background: #f0f0f0 url(/images/bodybg-purple.jpg) repeat-x;
}

#mainmenu a:hover {
	background: #f0f0f0 url(/images/menuhover-purple.jpg) top left repeat-x;
}

#mainmenu a.current {
	background: #f0f0f0 url(/images/menuhover-purple.jpg) top left repeat-x;
}

.toolbar {
	background: white url(/images/toolbar_purple.png) center center repeat-x;
}

.list thead th {
	background: #0f8fba url(/images/list_header_back_purple.png) repeat-x 50% 50%;
}