/* GENERAL */

a img {
	border: 0;
}

div.nomenu {
	margin-top: 70px;
}

ul p {
	margin: 0;
}

#contentalt {
	padding-top: 30px;
}

#content h3, #contentalt h3, #content h4, #contentalt h4 {
background-color:inherit;
color:#606060;
font-size:1.8em;
font-weight:bold;
letter-spacing:-1px;
margin:0 0 15px;
padding:0;
}

#content h4, #contentalt h4 {
font-size:1.6em;
margin-bottom:10px;
}

.screenshots img {
	vertical-align: top;
	margin-right: 10px;
	margin-bottom: 10px;
}

/* SIGNIN */

.signin td {
	padding-bottom: 10px;
}

/* FORM */

.form {
	margin: 10px;
}

.form td {
	padding: 2px;
	padding-left: 7px;
	padding-right: 7px;	
}

.form td.label {
	width: 1%;
	white-space: nowrap;
	vertical-align: top;
	padding-top: 6px;
}

.form td.input {
	width: 1%;
	white-space: nowrap;	
	vertical-align: top;
}

.form .required {
	width: 1%;
	color: red;
	font-weight: bold;
	vertical-align: top;
	padding-top: 6px;
}

.form input.textField {
	border: 1px solid gray;
}

.form textarea {
	width: 100%;
	border: 1px solid gray;
	height: 300px;
}

.form .feedback {
	vertical-align: top;
	padding-top: 6px;
}

.form .feedback ul {
	margin: 0;
}

/* CALENDAR */

.calendar .indicator {
	margin-top: 1px;
}

table.border {
	border: 1px solid gray;
	width: 1%;
}

table.border th {
	padding: 10px;
	padding-bottom: 0;
	white-space: nowrap;
}

.week {
	padding-right: 10px;
}

.day {
	border: 1px solid gray;
	width: 1%;
	margin: 5px;
}

.day thead th {
	padding: 2px;
	padding-left: 7px;
	padding-right: 25px;
}

.day thead th .date {
	font-size: 0.8em;
	white-space: nowrap;
}

.day tbody td {
	border-top: 1px solid gray;
	width: 1%;
}

.day tbody td.hour {
	padding: 2px;
	padding-left: 7px;
	padding-right: 7px;
	text-align: right;
	border-right: 1px solid gray;
	white-space: nowrap;
}

.day tbody td.content {
	height: 20px;
}

.day tbody td.content .label {
	display: block;
	margin: 2px;
	margin-left: 7px;
	margin-right: 7px;
}

.day tbody td.content a {
	padding: 2px;
	padding-left: 7px;
	padding-right: 7px;
	display: block;
	height: 16px;
	background: url(/images/available.png) no-repeat 50% 50%;
}

.day tbody td.content a.selected {
	background: url(/images/booked.png) no-repeat 50% 50%;
}

.day tbody td.content a:hover {
	background: #eeeeee url(/images/available_hover.png) no-repeat 50% 50%;
}

.day tbody td.content a.selected:hover {
	background: #eeeeee url(/images/booked_hover.png) no-repeat 50% 50%;
}

.day tbody td.content a img {
	border: 0;
}

.day tbody td.content a.displayLink {
	height: auto;
	background: white;
}

.day tbody td.content a.displayLink:hover {
	background: #eeeeee;
}

/* TOOLBAR */

.toolbar {
	border: 1px solid gray;
	width: 100%;
	background: white url(/images/toolbar.png) center center repeat-x;
	margin-bottom: 10px;
}

.toolbar td {
}

.toolbar .items {
	white-space: nowrap;
}

.toolbar a {
	background: white;
	display: block;
	padding: 2px;
	padding-left: 7px;
	padding-right: 7px;		
	border-right: 1px solid gray;
	font-weight: bold;
	opacity: 0.5;
	filter: alpha(opacity=50);
	color: black;
}

.toolbar a:hover, .toolbar a.current {
	text-decoration: none;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

/* LIST */

.list {
	border: 1px solid silver;
	border-bottom: 0;
	width: 100%;
}

.list tbody tr:hover td {
	background-color: #EEEEEE;
}

.list th, .list td {
	padding: 2px;
	padding-left: 7px;
	padding-right: 7px;
	white-space: nowrap;
}

.list thead th {
	text-align: left;
	border-bottom: 1px solid gray;
	color: white;
	background: #0f8fba url(/images/list_header_back.png) repeat-x 50% 50%;
}

.list td {
	border-bottom: 1px solid silver;	
}

.list td a {
	text-decoration: underline;
}

.list .functions a {
	margin-right: 10px;
}

.list a img {
	border: 0;
}

.list tfoot td {
	background-color: #EEEEEE;
}

.innerlist {
	height: 200px; 
	overflow: auto; 
	display: block;
	border: 1px solid gray;
	border-right: 0;
}

.innerlist table {
	width: 100%;
}

.innerlist th, .innerlist td {
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
}

.innerlist thead th {
	background-color: #CCCCCC;
}

.innerlist tbody tr.even td {
	background-color: #F0F0F0;
}


.ajaxLoader {
	position: absolute;
	margin-left: 21px;
	margin-top: 1px;
	padding: 2px;
	padding-right: 6px;
	border-bottom: 1px solid #909090;
	border-right: 1px solid #909090;
	background-color: #FF6633;
	font-weight: bold;
	color: white;
}
