<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="placeholderConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="/WEB-INF/teachus.properties" />
	</bean>

	<bean id="hibernatePropertiesBean"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="/WEB-INF/teachus.properties" />
	</bean>

	<!-- Data source -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>${db.driverClassName}</value>
		</property>
		<property name="url">
			<value>${db.url}</value>
		</property>
		<property name="username">
			<value>${db.username}</value>
		</property>
		<property name="password">
			<value>${db.password}</value>
		</property>
	</bean>

	<!-- Hibernate SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="mappingResources">
			<list>
				<value>
					dk/teachus/dao/hibernate/Person.hbm.xml
				</value>
				<value>
					dk/teachus/dao/hibernate/Period.hbm.xml
				</value>
				<value>
					dk/teachus/dao/hibernate/Booking.hbm.xml
				</value>
				<value>
					dk/teachus/dao/hibernate/TeacherAttribute.hbm.xml
				</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<ref local="hibernatePropertiesBean" />
		</property>
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>

	<bean id="txProxyTemplate" abstract="true"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="txManager" />
		<property name="transactionAttributeSource">
			<bean
				class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource" />
		</property>
	</bean>
	
	<!-- ===================== -->
	<!--         BEANS         -->
	<!-- ===================== -->
	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${mail.smtp}"/>
	</bean>   
	
	<bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<value>
				resource.loader=class
				class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
			</value>
		</property>
	</bean>
	
	<bean id="velocityBean" class="dk.teachus.bean.impl.VelocityBeanImpl">
		<constructor-arg ref="velocityEngine" />
	</bean>   
	
	<bean id="mailBean" class="dk.teachus.bean.impl.MailBeanImpl">
		<constructor-arg ref="personDao" />
		<constructor-arg ref="mailSender" />
		<constructor-arg ref="velocityBean" />	
	</bean>

	<!-- ==================== -->
	<!--         DAOS         -->
	<!-- ==================== -->
		
	<bean id="personDao" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="dk.teachus.dao.hibernate.PersonDAOHibernate">
				<property name="sessionFactory">
					<ref bean="sessionFactory" />
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="periodDao" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="dk.teachus.dao.hibernate.PeriodDAOHibernate">
				<property name="sessionFactory">
					<ref bean="sessionFactory" />
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="bookingDao" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="dk.teachus.dao.hibernate.BookingDAOHibernate">
				<property name="sessionFactory">
					<ref bean="sessionFactory" />
				</property>
			</bean>
		</property>
	</bean>

	<!-- ========================== -->
	<!--         SCHEDULING         -->
	<!-- ========================== -->

	<bean id="newBookings" class="dk.teachus.bean.impl.NewBookingsImpl">
		<constructor-arg ref="bookingDao" />
		<constructor-arg ref="personDao" />
		<constructor-arg ref="mailBean" />
	</bean>
	
	<bean id="newBookingsJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="newBookings" />
		<property name="targetMethod" value="sendNewBookingsMail" />
	</bean>
	
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="newBookingsJob" />
		<!-- run 10 minutes past every hour -->
		<property name="cronExpression" value="0 10 * * * ?" />
	</bean>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTrigger" />
			</list>
		</property>
	</bean>

</beans>