.metadata
teachus-backend/target
teachus-frontend/target
teachus-test/target
teachus-tools/target
teachus-tools/execution.log
teachus-ws/target
teachus-parent/target
teachus-tools/.settings/org.maven.ide.eclipse.prefs/.project
/.project
