<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="createTestDatabase" class="dk.teachus.backend.test.CreateMysqlTestDatabase">
		<constructor-arg value="/dk/teachus/backend/test/teachus_mysql.properties" />
	</bean>

	<bean id="placeholderConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		depends-on="createTestDatabase">
		<property name="location" value="/dk/teachus/backend/test/teachus_mysql.properties" />
	</bean>

	<bean id="hibernatePropertiesBean"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="/dk/teachus/backend/test/teachus_mysql.properties" />
	</bean>
</beans>
