/* GENERAL */

a img {
	border: 0;
}

/* FORM */

.form {
	margin: 10px;
	width: 600px;
}

.form td {
	padding: 2px;
	padding-left: 7px;
	padding-right: 7px;	
}

.form td.label {
	width: 1%;
	white-space: nowrap;
}

.form textarea {
	width: 100%;
	border: 1px solid gray;
	height: 300px;
}

/* CALENDAR */

table.border {
	border: 1px solid gray;
}

.day {
	border: 1px solid gray;
}

.day thead th {
	padding: 2px;
	padding-left: 7px;
	padding-right: 7px;
}

.day thead th .date {
	font-size: 0.7em;
	white-space: nowrap;
}

.day tbody td {
	border-top: 1px solid gray;
}

.day tbody td.hour {
	text-align: right;
	border-right: 1px solid gray;
	width: 1%;
}

.day tbody td.content {
	padding: 0;
	width: 99%;
}

.day tbody td.content .label {
	display: block;
	margin: 2px;
	margin-left: 7px;
	margin-right: 7px;
}

.day tbody td.content a {
	padding: 2px;
	padding-left: 7px;
	padding-right: 7px;
	display: block;
	height: 16px;
	background: white url(img/available_static.png) no-repeat 50% 50%;
}

.day tbody td.content a.selected {
	background: white url(img/booked.png) no-repeat 50% 50%;
}

.day tbody td.content a:hover {
	background: #eeeeee url(img/available_static_hover.png) no-repeat 50% 50%;
}

.day tbody td.content a.selected:hover {
	background: #eeeeee url(img/booked_hover.png) no-repeat 50% 50%;
}

.day tbody td.content a img {
	border: 0;
}

/* TOOLBAR */

.toolbar {
	border: 1px solid gray;
	width: 100%;
}

.toolbar td {
	background: white url(img/toolbar_back.png) center center repeat-x;
}

.toolbar .items {
	white-space: nowrap;
}

.toolbar a {
	background: url(img/toolbar_item_back.png) repeat-x center center;
	display: block;
	padding: 2px;
	padding-left: 7px;
	padding-right: 7px;		
	border-right: 1px solid gray;
	font-weight: bold;
}

.toolbar a:hover {
	background: url(img/toolbar_item_hover_back.png) repeat-x center center;
	text-decoration: none;
}

/* LIST */

.list {
	border: 1px solid silver;
	border-bottom: 0;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
}

.list tbody tr:hover td {
	background-color: #EEEEEE;
}

.list th, .list td {
	padding: 2px;
	padding-left: 7px;
	padding-right: 7px;
	white-space: nowrap;
}

.list th {
	text-align: left;
	border-bottom: 1px solid gray;
}

.list td {
	border-bottom: 1px solid silver;	
}

.list td a {
	text-decoration: underline;
}

.list .functions a {
	margin-right: 10px;
}

.list a img {
	border: 0;
}

.list tfoot td {
	background-color: #EEEEEE;
}
