html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: white url(back.png);
}

html, body, table {
	font-family: Garamond,'Copperplate Gothic Light',Georgia,'Times New Roman',Serif;
}

img, input { 
	behavior: url(iepngfix.htc); 
}

form {
	margin: 0;
}

form input.inputText {
	border: 1px solid gray;	
}

h1 {
	padding-left: 10px;
	font-size: 1.5em;
}

a {
	color: black;
}

a:hover {
	color: orange;
}

.menu a {
	padding-left: 10px;
}

.menu a img {
	border: 0;
}

#signin, #main {
	border: 1px solid gray;
	background: white url(white_withoutlogo_1600x1200_indexed.jpg) top center;
	text-align: left;
}

#main {
	width: 700px;
}

#signin h1 {
	font-size: 2em;
	margin: 0;
	padding: 0;
}

#main a img {
	border: 0;
}

#main .mainContent {
	background-color: white;
	border: 1px solid gray;
}

#main .pageLabel {
	font-size: 2em;
	font-weight: bold;
	white-space: nowrap;
}

#main table.border {
	border: 1px solid gray;
}

.day {
	width: 120px;
	border: 1px solid gray;
}

.day thead th {
	padding: 2px;
	padding-left: 7px;
	padding-right: 7px;
}

.day thead th .date {
	font-size: 0.7em;
	white-space: nowrap;
}

.day tbody td {
	text-align: center;
	border-top: 1px solid gray;
	width: 99%;
	padding: 2px;
	padding-left: 7px;
	padding-right: 7px;
}

.day tbody td.hour {
	text-align: right;
	border-right: 1px solid gray;
	width: 1%;	
}

.day tbody td.content a {
	width: 16px;
	height: 16px;
	display: block;
	background: url(available_booked.png) top left no-repeat;
	margin: auto;
}

.day tbody td.content a:hover, .day tbody td.content a.selected {
	background-position: 0 -16px;
}

.list {
	border: 1px solid silver;
	border-bottom: 0;
	width: 100%;
	margin: 10px;
}

.list tbody tr:hover td {
	background-color: #EEEEEE;
}

.list th, .list td {
	padding: 2px;
	padding-left: 7px;
	padding-right: 7px;
	white-space: nowrap;
}

.list th {
	text-align: left;
	border-bottom: 1px solid gray;
}

.list td {
	border-bottom: 1px solid silver;	
}

#main .list td a {
	text-decoration: underline;
}

.list .functions a {
	margin-right: 10px;
}

.list tfoot td {
	background-color: #EEEEEE;
}

.form {
	margin: 10px;
	width: 600px;
}

.form td {
	padding: 2px;
	padding-left: 7px;
	padding-right: 7px;	
}

.form td.label {
	width: 1%;
	white-space: nowrap;
}

.form textarea {
	width: 100%;
	border: 1px solid gray;
	height: 300px;
}

.toolbar {
	border-bottom: 1px solid gray;
	width: 100%;
}

.toolbar td {
	background: white url(toolbar_back.png) center center repeat-x;
}

.toolbar .items {
	background-image: url(toolbar_item_back.png);
	white-space: nowrap;
}

.toolbar a {
	display: block;
	padding: 2px;
	padding-left: 7px;
	padding-right: 7px;		
	border-right: 1px solid gray;
	font-weight: bold;
}