<wicket:panel>
	<div wicket:id="calendar" align="center">
		<table cellspacing="0" cellpadding="0" border="0" width="1%" style="text-align:left">
			<tr>
				<td width="10%"><a wicket:id="backLink"><img wicket:id="backIcon" /></a></td>
				<td width="80%" align="center">
					<form wicket:id="navigationForm">
						<table cellpadding="5" cellspacing="0" border="0">
							<tr>
								<td><span wicket:id="date" /></td>
								<td><input type="submit" wicket:id="goto" /></td>
							</tr>
						</table>
					</form>
				</td>
				<td width="10%" align="right"><a wicket:id="forwardLink"><img wicket:id="forwardIcon" /></a></td>
			</tr>
			<tr>		
				<td colspan="3">
					<table cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td wicket:id="weeks" valign="top">
								<table cellspacing="0" cellpadding="5" border="0" class="border">
									<thead>
										<tr>
											<th wicket:id="weekHeader"></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td wicket:id="days" valign="top">
												<table cellspacing="0" cellpadding="0" border="0" >
													<tbody>
														<tr wicket:id="periods">
															<td>
																<!-- Period component -->
																<span wicket:id="period" />
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	<span wicket:id="statusMessage"></span>
</wicket:panel>