<wicket:panel>
	<div class="innerlist">
		<table wicket:id="selectGroup" cellspacing="0" cellpadding="0" border="0">
			<thead>
				<tr>
					<th width="1%"><input type="checkbox" wicket:id="selectAll" /></th>
					<th wicket:id="name"></th>
				</tr>
			</thead>
			<tbody>
				<tr wicket:id="pupils">
					<td width="1%"><input type="checkbox" wicket:id="select" /></td>
					<td><label wicket:id="label"><span wicket:id="name"></span></label></td>
				</tr>
			</tbody>
		</table>
	</div>
</wicket:panel>
